@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --light-grey: #f8f8f8;
  --light-grey-2: #ccc;
  --dark-grey: #333;
  --dark-bg: #222c;
  --accent-1: #2e92a9;
  --accent-2: #9539ebdd;
  --accent-3: #ef7365;
  --accent-4: #f7bf30;
  --accent-5: #ffe29a;
}

.dark .bg-white {
  background-color: var(--dark-grey) !important;
}
.dark .bg-light-grey {
  background-color: var(--dark-bg) !important;
}
.dark {
  color: var(--light-grey) !important;
}
.light {
  color: var(--black) !important;
}

.text-white {
  color: var(--white) !important;
}
.text-black {
  color: var(--black) !important;
}
.text-light-grey {
  color: var(--light-grey) !important;
}
.text-light-grey-2 {
  color: var(--light-grey-2) !important;
}
.text-dark-grey {
  color: var(--dark-grey) !important;
}
.text-accent-1 {
  color: var(--accent-1) !important;
}
.text-accent-2 {
  color: var(--accent-2) !important;
}
.text-accent-3 {
  color: var(--accent-3) !important;
}
.text-accent-4 {
  color: var(--accent-4) !important;
}
.bg-white {
  background-color: var(--white) !important;
}
.bg-black {
  background-color: var(--black) !important;
}
.bg-light-grey {
  background-color: var(--light-grey) !important;
}
.bg-light-grey-2 {
  background-color: var(--light-grey-2) !important;
}
.bg-dark-grey {
  background-color: var(--dark-grey) !important;
}
.bg-accent-1 {
  background-color: var(--accent-1) !important;
}
.bg-accent-2 {
  background-color: var(--accent-2) !important;
}
.bg-accent-3 {
  background-color: var(--accent-3) !important;
}
.bg-accent-4 {
  background-color: var(--accent-4) !important;
}

*:not(i) {
  font-family: "Open Sans", sans-serif !important;
}

.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-extrabold {
  font-weight: 800 !important;
}
.text-cursive {
  font-family: "Sacramento", cursive !important;
}
html {
  scroll-padding-top: 43px;
}
body {
  padding-top: 43px;
}
section {
  padding-top: 58px;
  padding-bottom: 58px;
}

.navbar-brand {
  border: solid var(--accent-4) 3px;
  padding-right: 0.65em;
  padding-left: 0.65em;
}
.dark .navbar-light .navbar-nav .nav-link {
  color: var(--light-grey);
}
.dark .navbar {
  background-color: var(--black) !important;
}
.dark .navbar-light .navbar-toggler-icon {
  filter: invert(1);
}
#Home {
  background-image: url("img/home-background.jpeg");
  background-size: cover;
  background-position: center bottom;
  min-height: 400px;
  background-color: var(--dark-grey);
}
.btn {
  border: solid 2px transparent;
}
.btn:hover {
  background-color: transparent !important;
  border: solid 2px var(--accent-4);
  color: var(--accent-4) !important;
}
.skills-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
}
img {
  width: 100%;
  height: 100%;
}
.img-rounded {
  border-radius: 8px;
}
.wrapper-center {
  display: flex;
  justify-content: center;
}
.button {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: black;
  text-decoration: none;
}
.button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.button:hover {
  width: 200px;
}

.button:nth-child(1):hover .icon {
  background: #e1306c;
}

.button:nth-child(2):hover .icon {
  background: #4267b2;
}

.button:nth-child(3):hover .icon {
  background: #1da1f2;
}

.button:nth-child(4):hover .icon {
  background: #0e76a8;
}

.button:nth-child(5):hover .icon {
  background: #075e54;
}

.button:nth-child(6):hover .icon {
  background: #333;
}
.button:nth-child(7):hover .icon{
  background: #f2a60c;
}

.button:nth-child(1) span {
  color: #e1306c;
}

.button:nth-child(2) span {
  color: #4267b2;
}

.button:nth-child(3) span {
  color: #1da1f2;
}

.button:nth-child(4) span {
  color: #0e76a8;
}

.button:nth-child(5) span {
  color: #075e54;
}

.button:nth-child(6) span {
  color: #333;
}
.button:nth-child(7) span {
  color: #f2a60c;
}
.button .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button .icon i {
  font-size: 25px;
  line-height: 60px;
}

.button:hover i {
  color: #fff;
}

.container-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#Portfolio p {
  line-height: 1.5em;
}
#Portfolio h1 + p,
#Portfolio p + p {
  margin-top: 10px;
}

#Portfolio .card-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 25px;
}

#Portfolio .card-info h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
.img-cover {
  object-fit: cover;
}
.experience-subtitle {
  font-size: 12px;
  color: #829eff;
}
#Experience h4 {
  margin: 0;
}
.experience-content {
  padding: 0 20px;
  font-size: 13px;
}
#Experience 
a:hover {
  color: #829eff;
}

.fav-web img{
  max-width: 250px;
  padding: 20px 0;
}
.fav-web{
  padding: 10px;
}


/* services */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
.ion-20 {
  font-size: 20px;
}

.ion-21 {
  font-size: 21px;
}

.ion-22 {
  font-size: 22px;
}

.ion-23 {
  font-size: 23px;
}

.ion-24 {
  font-size: 24px;
}

.ion-25 {
  font-size: 25px;
}

.ion-26 {
  font-size: 26px;
}

.ion-27 {
  font-size: 27px;
}

.ion-28 {
  font-size: 28px;
}

.ion-29 {
  font-size: 29px;
}

.ion-30 {
  font-size: 30px;
}

.ion-31 {
  font-size: 31px;
}

.ion-32 {
  font-size: 32px;
}

.ion-33 {
  font-size: 33px;
}

.ion-34 {
  font-size: 34px;
}

.ion-35 {
  font-size: 35px;
}

.ion-36 {
  font-size: 36px;
}

.ion-37 {
  font-size: 37px;
}

.ion-38 {
  font-size: 38px;
}

.ion-39 {
  font-size: 39px;
}

.ion-40 {
  font-size: 40px;
}

.ion-41 {
  font-size: 41px;
}

.ion-42 {
  font-size: 42px;
}

.ion-43 {
  font-size: 43px;
}

.ion-44 {
  font-size: 44px;
}

.ion-45 {
  font-size: 45px;
}

.ion-46 {
  font-size: 46px;
}

.ion-47 {
  font-size: 47px;
}

.ion-48 {
  font-size: 48px;
}

.ion-49 {
  font-size: 49px;
}

.ion-50 {
  font-size: 50px;
}

.blue {
  color: #3498db;
}

.red {
  color: #e74c3c;
}

.yellow {
  color: #f1c40f;
}

.teal {
  color: #2ecc71;
}

.purple {
  color: #9b59b6;
}

.green {
  color: #2ecc71;
}

.turquoise {
  color: #1abc9c;
}

.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.animate {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tac {
  text-align: center;
}

.hide-text {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 1em 1.5em;
  background: #e74c3c;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.btn:hover {
  background: #d62c1a;
}
.btn:active {
  background: #bf2718;
}

a.btn {
  color: #fff;
}
a.btn:hover {
  color: #fff;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background: #fafafa;
  height: 100%;
  position: relative;
}

a {
  /* color: #e74c3c; */
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: unset;
}
a:hover,
a:focus {
  text-decoration: none;
}

a,
input {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:active,
a:focus,
input:active,
input:focus,
button:active,
button:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

p {
  line-height: 1.7;
}

.browser-wrap {
  position: relative;
  width: 100%;
  background-image: radial-gradient(
    circle farthest-corner at center,
    #3c4b57 0%,
    #1c262b 100%
  );
}

.browser {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #eee;
  max-width: 550px;
  max-height: 300px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
  -webkit-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
  box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
}
.browser .icon {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.browser .icon i {
  display: table-cell;
  vertical-align: middle;
  color: #666;
}
.browser .header,
.browser .body {
  padding: 0.5em 1em;
}
.browser .header {
  background: #ccc;
  color: #999;
}
.browser .header .right {
  float: right;
}
.browser .tablet {
  text-align: center;
  color: #999;
  background: #ccc;
  margin: 10px 10px 0;
  height: 75%;
  position: relative;
}
.browser .tablet i {
  position: absolute;
  bottom: -38px;
  left: 0;
  right: 0;
  text-align: center;
}
.browser .phone {
  background: #ccc;
  margin: 10px 0;
  height: 80%;
}

.aboutAni {
  max-width: 250px;
  width: 100%;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #eee;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
  -webkit-box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
  box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
}

.design .head {
  margin-bottom: 1em;
  width: 100%;
  height: 100px;
  background: #ccc;
}
.design .box-contain {
  margin: 0 auto;
  width: 245px;
  text-align: center;
}
.design .box {
  display: inline-block;
  margin: 5px 5px 5px;
  width: 20%;
  height: 50px;
  background: #ccc;
}
.design .box-large {
  width: 70%;
  height: 60px;
}

.develop {
  height: 100%;
  background: #999;
}
.develop .sidebar {
  width: 30%;
  height: 100%;
  float: left;
  background: #eee;
}
.develop .codebar {
  width: 70%;
  height: 100%;
  padding: 1em;
  float: right;
}
.develop .line {
  margin-bottom: 15px;
  width: 100%;
  height: 7px;
  background: #fff;
}

.heart {
  text-align: center;
  height: 100%;
}
.heart i {
  display: inherit;
  position: relative;
  top: 50%;
  color: #e74c3c;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.more {
  position: relative;
  top: 77%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.more i {
  position: relative;
  top: -1px;
  margin-right: 5px;
  color: #999;
  vertical-align: middle;
}

.load {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  max-width: 500px;
  color: #fff;
  text-align: center;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.load .quote {
  margin-top: 1em;
  font-size: 23px;
  font-weight: lighter;
  color: #ccc;
}

.text {
  position: absolute;
  top: 50%;
  bottom: 0;
  margin-top: -150px;
  width: 100%;
  color: #999;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.aboutText {
  margin-top: -200px;
}
.aboutText div {
  display: inline-block;
}
.browser-height {
  height: 100%;
}

/* website demo */
.website_demo .website_demo_block {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin: 25px 0;
  width: 400px;
}

.website_demo .website_demo_block .window.imac {
  width: 292px;
  position: absolute;
  top: 12px;
  left: 79px;
}

.website_demo .website_demo_block .window.imac img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 182px;
  margin-left: 7px;
}

.website_demo .website_demo_block .window img {
  transition: 5s all ease;
}

.website_demo .website_demo_block .window img:hover {
  object-position: bottom;
}

.website_demo svg {
  width: 450px;
}

/* switch mode */

#switch-time svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#switch-time #night-content {
  opacity: 0.5;
}

#switch-time .inner-shadow {
  stroke-opacity: 0.1;
  stroke-width: 5;
  stroke: black;
  fill: none;
}

#switch-time input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#switch-time .set-pos {
  position: fixed;
  width: 80px;
  transform: rotate(270deg);
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  background-color: #2274a5;
  border: 1px solid;
  padding: 6px; 
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}
.content-carrousel figure .figure-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #f8f8f8;
  text-align: center;
}
.content-carrousel figure .figure-content h4 {
  color: #f7bf30;
  margin: 0;
}
.content-carrousel figure .figure-content .figure-hover {
  opacity: 0;
  color: #767676;
  font-size: 12px;
}
.content-carrousel figure:hover .figure-content .figure-hover {
  opacity: 1;
}
.content-carrousel figure a {
  text-decoration: none;
}

.content-carrousel figure:hover.shadow {
  position: absolute;
  box-shadow: 0px 0px 30px 5px #000;
  border-radius: 1px;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .website_demo .website_demo_block {
    transform: scale(0.98) translateX(-40px);
  }
  #switch-time .set-pos {
    width: 65px;
  }
}
@media only screen and (max-width: 400px) {
  .website_demo .website_demo_block {
    transform: scale(0.7) translateX(-70px);
  }
}
